<div class="container">
<% if @chatrooms.empty? %>
<h2> No chatrooms. <span><%= link_to "Explore and collaborate!",  "/explore"%></span></h2>
<% else %>
<% @chatrooms.each do |chatroom| %>
<div class="row">
<%= link_to chatroom_path(chatroom) do %>
<%= chatroom.name %>
<% end %>
</div>
<% end %>
<% end %>
</div>


<div class="container">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
</div>
