<div class="container">

<% @chatrooms.each do |chatroom| %>
<%= link_to chatroom_path(chatroom) do  %>
<p><%= chatroom.name %></p>

<% end %>
<% if chatroom.messages.empty? %>
<p>No messages.</p>
<% else %>
<p><%= chatroom.messages.last.content %></p>
<% end %>
<% end %>


</div>

