



<!--Main Navigation-->
<header>

</header>
<!--Main Navigation-->



<!--Main layout-->
<main>
<!--Grid Bootstrap Container Class-->

<div class="container">
<div class="row">
<div class="col-xs-12.col-sm-6 col-md-3">
<!--First Card--><div class="card">
<img src="images/rafiki.png" alt="briefcase" width="100">
<h2>You have an Idea, to create a Web-App?</h2>
</div>
<!--First Card-->
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
<!--Second Card--><div class="card">
<img src="C:\Users\HP\Desktop\Der komplette Webentwicker\Completewebsite\images\diamond.png" alt="diamond" width="100">
<h2>Ruby</h2>
<p> Learn <strong>Ruby</strong></p>
</div>
<!--Second Card-->
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
<!--Third Card--><div class="card">
<img src="C:\Users\HP\Desktop\Der komplette Webentwicker\Completewebsite\images\heart.png" alt="heart" width="100">
<h2>Javascript</h2>
<p>Learn <strong>Javascript</strong>
</div>
<!--Third Card-->
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
<!--Fourth Card--><div class="card">
<img src="C:\Users\HP\Desktop\Der komplette Webentwicker\Completewebsite\images/laptop.png" alt="laptop" width="100">
    <h2>CSS</h2>
    <p>Learn <strong>Cascading Style Sheet</strong></p>
</div>
<!--Fourth Card-->
</div>

</div>
</div>
<!--Grid Bootstrap Container Class-->
</main>
<!--Main layout-->





<!--Footer-->
<footer>
<div id="footer">
<p>Startup your Idea into a real product at ©Tester</p>
<ul class="list-inline">
<li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="fab fa-instagram-square"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
</ul>
</div>
 <footer class="page-footer font-small unique-color-dark">

        <!-- Social buttons -->
        <div class="primary-color">
            <div class="container">
        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Start-Up-Tester</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Tester is the world’s leading community for people to share, test and grow their products</p>
                </div>
                <!--/.First column-->

                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Frequently asked questions</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!">Why Tester?</a>
                    </p>
                    <p>
                        <a href="#!">Test an App today!</a>
                    </p>
                    <p>
                        <a href="#!">Create a Project today!</a>
                    </p>
                    <p>
                        <a href="#!">Customer Support</a>
                    </p>
                </div>
                <!--/.Third column-->

                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home"></i></i> London, Hey Avenue 555 A, UK</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i>contact@startup-testr.me</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">Tester © 2021 
        </div>
        <!-- Copyright -->
</footer>