.feed-wrapper {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.stats {
  margin-bottom: 0;
  font-size: 24px;
  margin: 0 0 0 10px;
}

.fas {
  margin-right: 0.25rem;
  margin-left: 0.3rem;
}

.desc {
  min-height: 5rem;
}

<<<<<<< HEAD
.username {
  font-size: 19px;
}
=======


#tag {
  font-size: 0.8rem;
  background-color: #ececec;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: 0.3s;
}

#tag:hover {
  background-color: #2e2ac5;
  color:white;
}

a#tag:focus{
  background-color: #2e2ac5;
  color:white;
}
>>>>>>> 8d24cf1054981218dbd8c3dab5fd8bfd0803ca12
