  <div class="row justify-content-around">
  <div class="col">
  <p><strong>Description</strong></p>
  <p><%= @test.description %></p>
  <p><%= link_to "Click here to test: #{@test.name}", "https://#{@test.test_url}", target: '_blank' %></p>
  </div>
  </div>
