<div class="flex-box test-header my-4">
      <p class="test-heading"><%=@test.name %></p>
      <p><span class="live-dot">•</span><%= @test_status %></p>
      <p index="test-created-date">Created on: <%= @test.created_at.strftime("%d-%m-%Y" ) %></p>

      <span>
      <i class="fas fa-external-link-alt test-fav"></i>
      </span>

   </div>
