.current_user, .other_user {
  width: 40%;
  padding: 24px;
  margin-bottom: 10px;
  border-radius: 24px;

  overflow: hidden;
  margin-right: 100%;
}

.current_user {
  background: #2e2ac5;
  color: white;
  margin: 10px 60%;
}

.other_user {
  background: #f4f6f9;
  color: grey;
}

.message-border-bottom {
  margin-top: 20%;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid grey;
}

#messages {
  overflow: scroll;
  border: 1px solid grey;
  height: 700px;
}
