#searchbar {
  margin: auto;
  margin-top: 30px;
  width: 800px;

  padding-left: 120px;
  font-size: 20px;
}

#search-text {
  width: 400px;
  border-radius: 5px;
  padding-left: 10px;
  height: 50px;
  font-size: 1.3rem;
}

#search-btn {
  height: 50px;
  width: 120px;
  font-size: 1.3rem;
}
