.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  top: 0;
  // 68px;
  left: 0;
  background-color: #2e2ac5;
  padding-top: 20px;
  white-space: nowrap;
  transition: 0.5s;
  z-index: 1;

  i {
    margin-right: 20px;
    width: 20px;
  }

  a {
    color: white;
    padding: 20px 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: block;
    border-bottom: 1px solid #dadee3;
    margin: 0px 20px;

    .icon-text {
      margin-left: 10px;
    }

    &:hover {
      color: #8381cc;
    }
  }
}

.sidebartoggle {
  width: 85px;
}

.overflow-hidden {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}

#menu-icon {
  color: white;
  padding: 3px 3px;
  position: absolute;
  right: 15px;
  top: 150px;
  overflow-x: visible!important;
  border-radius: 0px 5px 5px 0px;
  background-color: #2e2ac5;
  cursor: pointer;
  font-size: 25px;
}

#logout a{
  border: none;
}

#sidebar-head {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin: 20px;
  }
}
