// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";



@media (max-width: 576px) {

  #mySidebar {
    display: none;
}
.flex-box {
  display:block;
}

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {


 }


.add_footer_margin {
  margin-bottom: 1000px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }

.live-dot {
  color: green;
}


.project-name {
  color:#2e2ac5;
}


.test-header {
  background: #EBEEF2;
}




.flex-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}

.flex-box p {
  margin: 0;
}

#test-created-date {
  color: #394452;
}
.test-heading {
  color:#0C9E42;
  font-size: 20px;
}

.nav-white {
  color:white;
}


.menu-icon {
  display: inline;
  max-width: 40px;

}
.test-btn-blue {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  background: #2e2ac5;
  border: none;
  transition: background 0.1s;
}

.test-btn-blue:hover {
  background: #2355FF;
}

.test-fav {
  color: $body-color;
  text-decoration: none;
}

.test-fav:hover {
  text-decoration: none;
  color: gray;
}

a:hover {
     text-decoration: none;
     color:white;

}

.required-class abbr {
  color: red;
  text-decoration: none;
}

.review-card {
  padding: 16px;
  width: 70%;
  background: #FAFAFA;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border:none

}

#review-created-date {
  color: #A5ABB3;
}
